[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "neatStats"]
	path = neatStats
	url = https://github.com/gasparl/neatstats
	shallow = true
	registered = true
[submodule "POSSA"]
	path = POSSA
	url = https://github.com/gasparl/possa
	shallow = true
	registered = true
